// Define variables for your color scheme


// IN USE
$pink: #FF0068;
$blue: #180331;
$yellow: #FFCD00;
$light-gray: #FFF7F7;
$green: #00DFC3;
$black: #030303;
$white: #FFFFFF;


// For example:
$red: #EE5F5B;
$orange: #E67E22;
$gray: #000000;
