// Define variables for your color scheme


// IN USE
$pink: #FF0068;
$blue: #180331;
$yellow: #FFCD00;
$light-gray: #FFF7F7;
$green: #00DFC3;
$white: #ffffff;
$black: #030303;




// OTHERS:
$red: #FC3771;
$orange: #E67E22;
$gray: #000000;
