.btn-rounded-white {
  color: $blue;
  border: 1px solid $light-gray;
  background-color: $light-gray;
  padding: 15px 20px;
  border-radius: 50px;
  font-weight: lighter;
  letter-spacing: 1px;
  opacity: 0.8;
  transition: all 0.5s ease;
  &:hover {
    opacity: 0.8;
    background-color: $blue;
    color: $light-gray;
    text-decoration: none;
  }
}

.btn-rounded-pink {
  color: $light-gray;
  border: 1px solid $pink;
  background-color: $pink;
  padding: 15px 20px;
  border-radius: 50px;
  font-weight: lighter;
  letter-spacing: 1px;
  opacity: 0.8;
  transition: all 0.5s ease;
  &:hover {
    opacity: 0.8;
    background-color: $light-gray;
    color: $pink;
    text-decoration: none;
  }
}
